.footer {
    height: 70px;
    background-color: #2D2F31;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.footer img {
    width: 100px;
    height: 100px;
    color: #fff;
}

.footer p{
   color: #fff;
   text-align: end;
   
}